body {
	border: 100px solid black ;
	border-radius: 40px
}

h1 {
	font-family: 'Notable', sans-serif;
}

@keyframes opacity {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

#line{
	animation: opacity 1s infinite;
}

.one {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#pointshere {
	text-align: center;
}

.content {
	text-align: center;
}

h3 {
	transition: ;
}

#submit {
	border-radius:5px;
}

.intervals {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}